body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Fuente similar a la de Twitter */
    background-color: #e8f5fe; /* Fondo azul claro */
    margin: 0; /* Elimina márgenes por defecto */
  }
  